body {
    font-family: 'Tangerine', serif;
    font-size: 2em;
}
#logo {
max-width: 50px;
max-height: 50px;
float: left;
position: relative;
}
.nav {
    background-color: azure;
}
#app, #about {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#my-image{
    max-height: 500px;
    
    opacity: 0.5;
    filter: alpha (opacity=50);
}
#contacts {
    background-color: azure;
    font-size: 16px;
}
